{% extends "core/base.html" %}

{% block title %}Create Task{% endblock title %}

{% load crispy_forms_tags %}   

{% block content %}
    <div class="form-wrapper">
        <div class="form-container">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <!-- <label for="deadline">Deadline:</label>
                <input class="mt-4 ml-4" type="datetime-local" name="deadline" id="deadline" value="{{ time_now }}"> -->
                <a class="btn btn-secondary" href="{% url 'tasks' %}">Back to Tasks</a>
                <input class="btn btn-warning" type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock content %}
    
