{% extends 'core/base.html' %}


{% block content %}
    <div class="dashboard-tasks-container">
        <div class="completed-tasks dashboard-card">
            <h4>Your finished tasks:</h4>
            <ul>
            {% for task in completed_tasks %}
                    <li><a href="{% url 'task' task.id %}">{{ task.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
    
        <div class="paused_tasks dashboard-card">
            <h4>Your paused tasks:</h4>
            <ul>
            {% for task in paused_tasks %}
                    <li><a href="{% url 'task' task.id %}">{{ task.name }}</a></li>
            {% endfor %}
            </ul>
        </div>

        <div class="closest_deadline dashboard-card">
            <h4>Closest Deadline:</h4>
            <ul>
            {% for task in closest_deadline %}         
                    {% if task.status != 'Overdue' and task.status != 'Done' %}
                    <li><a href="{% url 'task' task.id %}">{{ task.name }}</a></li>
                    {% endif %}
            {% endfor %}
            </ul>
        </div>
    
    </div>    

{% endblock content %}
