{% extends 'core/base.html' %}

{% block title %}About{% endblock title %}


{% block content %}
    <div class="about-wrapper">
        <div class="about">
            <h2 style="margin-bottom: 2.2rem;">About This Project</h2>
            <p>I've created this project to put it on my resume and for my presonal use.</p>
            <p>It has full CRUD functionality, registration, deadline reminders and also an email notifications when you register and log in.</p>
            <p>I'm also using external APIs to display current weather(based on user's location), exchange rates for RUB and also BTC/USD pair</p>
            <p>You can visit a <a href="{% url 'dashboard' %}">dashboard</a> to see your closest deadlines, paused and completed tasks</p>
            <p>To see tests and overall code, follow <a href="https://github.com/FancyDogge/ttl-live" target="_blank">this link</a></p>
            <p>If you don't want to register, follow this link to login as <a href="{% url 'login_demo' %}">Demo User</a></p>
        </div>
    </div>
{% endblock content %}