{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Denchik&#x27;s Stupendous Site</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">
  </head>
  <body>
    <header class="nav-bar wf-section">
      <div class="w-container">
        <div class="w-row">
          <div class="brand-column w-col w-col-4">
            <div class="company">TaskTracker</div>
          </div>
          <nav class="nav-column w-col w-col-8">
            <a href="#" class="nav-link">Mobile</a
            ><a href="#" class="nav-link">Features</a
            ><a href="#" target="_self" class="nav-link sign-up">Sign Up</a>
          </nav>
        </div>
      </div>
    </header>
    <div class="section hero wf-section">
      <div class="w-container">
        <h1 class="hero-heading">Keep Track of Most Important</h1>
        <p class="hero-subhead">
          Stop waising your time. Start to use it wisely.
        </p>
        <div class="button-group">
          <a href="#" class="button sign-up">Sign up</a
          ><a href="#" class="button">Log In</a>
        </div>
      </div>
    </div>
    <div class="section-2 wf-section">
      <div class="text-block">© Copyright Daniil Nosov</div>
    </div>
  </body>
</html>
